@media (min-width: 992px) and (max-width : 2560px) {
    #menu {
        display: none;
    }

    nav {
        flex-direction: row;
        margin-left: auto;
        align-items: center;


    }

    nav ul {
        display: flex;
        position: static;
    }

    nav a {
        display: block;
        flex-direction: row;
    }

    #hero {
        position: relative;
    }

    #welcome-msg {
        position: absolute;
        top: 0;
        background-color: rgb(0 0 0 / 0.65);
        color: antiquewhite;

    }

    #devices {
        display: flex;
        flex-direction: row;
    }

    #devices section {
        border-radius: 0px;
        width: 100%;

    }

    #main-form {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    #device-type {
        width: 50%;
    }


    #selected {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


    }

    #selected section {
        margin: 10% 10% 10% 10%;
    }









}