@media (min-width: 992px) and (max-width : 2560px) {
    #menu {
        display: none;
    }
    nav{
        flex-direction: row;
        margin-left: auto;
        align-items: center;
        
       
    }
     nav ul {
        display: flex;
        position: static;
         }
    
        nav a {
            display: block;
            flex-direction: row;
        }
        
              
             
        
              
        
                
}