* {
    margin: 0;
    padding: 0;
}




body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: auto 1 fr auto / auto 1 fr auto;
    height: 100vh;
}

header {
    background: lightgreen;
    grid-column: 1/4;
    position: relative;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

main {
    grid-column: 1/3;
    background: lightcoral;

}

footer {
    background: lightgreen;
    text-align: center;
    grid-column: 1/4;
    padding: 2rem;
}



.nav-list {
    display: flex;
    background-color: lightcyan
}

.nav-list li {
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
    flex: 1 1 auto;
}

aside {
    background: lime;
    grid-column: 3/4;
}

h1,
h2,
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2rem;
}